*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.width{
    width: 100%;
    height: 91vh;
    overflow: hidden;
}
h5{
    font-size: 32px;
}

a{
    font-weight: 500;
    text-transform: uppercase;
}
.nav-link{
    color: #000;
}
.nav-item a{
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease;
}
.nav-item a:hover{
    font-weight: 500;
}
.carouselExampleInterval{
  position: relative;
}
.carousel-inner::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(0,0,0,.4);
}
.carousel-item{
    position: relative;
}
.carousel-caption{
    width: 100%;
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 22;
}
.carousel-caption h5{
    font-size: 2.5rem!important;
    text-transform: uppercase;

}
.width img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.navbar-toggler:focus, .navbar-toggler:active{
    box-shadow: none;
    outline: none;
}
.about-text h2{
   line-height: 2rem;
}
.card-body p{
    font-size: 16px;
    font-weight: 300;
    margin:28px 10px;
}
.overflow{
    overflow: hidden;
}

@media screen and (min-width: 1024px )  {
    
    .carousel-caption h5{
        font-size: 3rem;
        width: 100%;
  }
  .carousel-caption p{
    font-size: 1.5rem;
    padding:0 140px ;
  }
}
@media screen and (min-width: 1024px )  {
    .carousel-caption h5{
        width: 100%;
  }
  .carousel-caption p{
    padding:0 100px ;
  }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .carousel-caption{
        bottom: 30px;
        width: 100%;
    }
    .carousel-caption h5{
          width: 100%;
    }
    .carousel-caption p{
        width: 100%;
        padding: 0 140px;
        /* display: block; */
    }
}

@media screen and (max-width:767px) {
    .carousel-caption {
        width: 100%;
        padding: 0 30px;
    }
    .carousel-caption h5{
        font-size: 17px!important;
        width: 100%;
        display: block;
        text-align: center;
    }
    .carousel-caption p{
        width: 100%;
        /* display: block; */
    }
}